*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

:root {
  --gray: rgb(230, 230, 230);
  --medGray:rgb(205, 204, 204);
  --darkGray:rgb(66, 66, 66);
  --white: #ffffff; 
  --black: black;
  --purple:rgb(84, 100, 237);
  --body:#f9f9fb;
}