.headerMain{
    box-shadow: 0 1px 8px rgba(0,0,0,.1);
}
.header{
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    flex-wrap: wrap;
}


.logo{
display: flex;
display: flex;
justify-content: center;
align-items: center;
font-size: clamp(0.8em,1.5vw,2em);
font-weight: bold;
min-width: 5em;
}

.logoImg{
color: var(--white);
background-color: var(--purple);
display: flex;
justify-content: center;
align-items: center;
padding: 0.2em;
border-radius: 10px;
margin-right: 0.2em;
}

.search{
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3em;
    border-radius: 50px;
    overflow: hidden;
    background-color: var(--gray);
    min-width: 12em;
}

.search input{
flex: 1;
border: none;
height: 100%;
outline: none;
background-color: var(--gray);
padding: 1em;
font-size: clamp(0.5em,0.8vw,2em);
}

.searchIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 80%;
    border-left: 1px solid var(--medGray);
}

.buttons{
    display: flex;
    justify-content: space-around;
    width: 15%;
    min-width: 10em;
}

.buttons button{
    font-size: clamp(0.5em,0.9vw,2em);
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    padding: 0 1em;
    border-radius: 50px;
    color: var(--darkGray);
    min-width: 7em;
    height: 3em;
}
.buttons button:nth-child(2){
    background-color: var(--purple);
    color:var(--white);
}

@media (max-width:440px) {
    .header{
        justify-content: space-around;
    }
    .buttons{
        margin-top: 1em;
    }
}