.nav{
    min-height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    color: var(--black);
    font-size: clamp(0.8em,1vw,2em);
}
.menu li{
    margin-top: 1em;
}