.footer{
    background-color: var(--gray);
    min-height: 60vh;
}
.footerTop{
height: 15%;
min-height: 10vh;
border-bottom: 1px solid var(--medGray);
display: flex;
align-items: center;
}
.footerTop div{
    min-width: 15em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: clamp(1em,1vw,2em);
    color: var(--darkGray);
}
.footerMid{
    min-height: 40vh;
    border-bottom: 1px solid var(--medGray);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2em;
}
.linkContainer{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 15em;
    margin-top: 1em;
}
.linkContainer ul{
    height: 80%;
    list-style: none;
}
.linkContainer ul li{
    margin-top: 2em;
    color: var(--darkGray);
}
.footerBottom{
    height: 25%;
    min-height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}
.footerBottom .content{
width: 80%;
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
color: var(--darkGray);
min-width: 15em;
height: 3.5em;
}
.content p{
    font-size: clamp(0.9em,1.3vw,2em);
    width: 30%;
    font-weight: bold;
    color: var(--black);
    min-width: 5em;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.content ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    min-width: 5em;
    font-size: clamp(0.5em,1vw,1em);
}
.content ul li{
    min-width: 8em;;
}
.content p span{
    background-color: var(--black);
    color: var(--white);
    border-radius: 10px;
    padding: 0.3em 0.6em;
    font-size: clamp(0.7em,1vw,1.5em);
    margin-left: 0.2em;
}
.moon{
    /* padding: 1em; */
    width: 3.5em;
    height: 3.5em;
    background-color: var(--medGray);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}