.slick-slider{
    display: flex;
    justify-content: center;
    align-items: center;
}
.slick-slider .slick-track, .slick-slider .slick-list{
    height: 20em;
    margin-top: 1em;
    width: 98%;
    
}

.slick-next,.slick-prev{
    right: -12px;
    top: 50%;
    z-index: 10;
    width: 50px;
    height: 30px;
}
.slick-prev{
    left: -12px;
    top: 50%;
    z-index: 10;
    width: 50px;
    height: 30px;
}

.slick-next:before,.slick-prev:before{
    color: black;
    font-size: 30px;
}

.slick-dots{
    bottom: 0;
    display: none;
    opacity: 0;
}